@import '../../assets/styles/global.scss';

.button {
    @include centralizeContent();
    transition-duration: $transitionDuration;
    
    h3 {
        color: white;
        font-size: 1.8vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        pointer-events: none;
    }

    &:hover {
        background-color: $colorPrimaryDark;
        cursor: pointer;
        transition-duration: $transitionDuration;
    }

    &:active {
        background-color: $colorPrimaryLight;
    }
}

.delete {
    width: 10%;
    background-color: $colorSecondaryLight;

    img {
        width: 2vw;
        pointer-events: none;
    }

    &:hover {
        filter: brightness(1.2);
    }
}

.clear {
    width: 10%;
    background-color: $colorPrimaryLight;
}

.equal {
    background-image: $gradientBackground;

    &:hover {
        filter: brightness(1.2);
    }

    &:active {
        background-image: none;
        background-color: white;
        transition-duration: $transitionDuration;
    }   
}

.null {
    pointer-events: none;
}