@import '../../assets/styles/global.scss';

#button {
    background-color: $colorSecondaryBackground;
    @include centralizeContent();
    transition-duration: $transitionDuration;

    &:hover {
        background-color: $colorPrimaryDark;
        cursor: pointer;
        transition-duration: $transitionDuration;
    }

    &:active {
        background-color: $colorPrimaryLight;
    }

    #content {
        display: flex;
        height: 8rem;
        
        h3 {
            height: fit-content;
            margin: auto 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 3rem;
            color: white;
            pointer-events: none;
        }
    }
}