@import '../../assets/styles/global.scss';

#container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    
    #logo {
        background-image: $gradientBackground;
        width: 100%;
        height: 18vh;
        @include centralizeContent();

        img {
            width: 20rem;
        }
    }
 
    #viser {
        background-color: $colorPrimaryBackground;
        border: 0;
        outline: none;
        width: 100%;
        height: 18vh;
        font-size: 4rem;
        text-align: right;
        color: white;
        
        &::placeholder {
            color: rgba(255, 255, 255, 0.521);
        }
    }

    #keys {
        height: 82vh;
        background-color: $colorSecondaryBackground;
        
        #topKeys {
            height: 10%;
            display: flex;
            justify-content: flex-end;
        }

        #bottomKeys {
            height: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    #historic {
        #title {
            @include centralizeContent();
            height: 18vh;

            h1{
                font-family: 'Roboto', sans-serif;
                font-size: 3rem;
                font-weight: 300;
                color: white;
            }
        }

        #historicSection {
            overflow-y: scroll;
            
            height: 50vh;

            &::-webkit-scrollbar {
                width: 0.5vw;
                
            }

            &::-webkit-scrollbar-track {
                background: $scrollbarBackground;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: $colorPrimaryLight;
                border-radius: 10px;
            }
        }
   }
}

@media (max-width: 768px) {
    #container {
        display: block;
    }
}