#main{
    display: flex;

}

#main menu{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main menu #logo{
    width: 100%;
    height: 15vh;
    background-image: var(--gradient);
    float: left;
}

menu #logo img {
    width: 13vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#main menu ul{
    width: 100%;
}

menu ul li{
    display: flex;
    width: 100%;
    height: 11vh;
    cursor: pointer;
}

menu ul li div{
    display: flex;
    margin: auto auto;
    pointer-events: none;
}

menu ul li div img{
    width: 2.5vw;
    margin-right: 1vw;
    pointer-events: none;
}

menu ul li div h2{
    font-weight: 300;
    font-size: 2vw;
    pointer-events: none;
}

menu ul li[enabled]{
    background-color: var(--dark-purple);
}

#main main{
    display: flex;
    flex-direction: column;
    width: 58vw;
    height: 100%;
}

#main main input{
    width: 100%;
    height: 15%;
    padding: 0 2vw;
    background-color: var(--background-color);
}

#main main input:focus{
    outline: none;
    border: none;
}

main input::placeholder, main input[placeholder]{
    font-size: 3.5vw;
    text-align: right;
    color: white;  
}

#main main #calculator{
    width: 100%;
    height: 85%;
}

main #calculator #top{
    display: flex;
    height: 9%;
}

#calculator #top #empty-box-1{
    width: 80%;
    background-color: var(--dark-purple);
    border: 1px solid var(--background-color);
}

#calculator #top #actions{
    display: flex;
    width: 20%;
}

#top #actions button{
    width: 50%;
    border: 1px solid var(--background-color);
    outline: none;
}

#top #actions button img, #actions button h3{
    pointer-events: none;
}

#top #actions button:active{
    background-color: #fff;
}

#actions button#b1 {
    background-color: var(--light-purple);
}

#actions button#b2 {
    background-color: var(--light-blue);
}

main #calculator #keys{
    height: 91%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#calculator #keys button {
    background-color: var(--dark-purple);
    border: 1px solid var(--background-color);
    outline: none;
}

#calculator #keys button:hover {
    background-color: var(--light-purple);
    border: 1px solid var(--background-color);
}

#calculator #keys button:active {
    background-color: var(--dark-purple);
    border: 1px solid var(--background-color);
}

#calculator #keys button h3{
    font-size: 2vw;
    pointer-events: none;
}

/* #keys button[disabled]{
    pointer-events: none;
} */

#calculator #keys #equal {
    background-image: var(--gradient);
}

#calculator #keys #equal:active {
    background-image: none;
    background-color: white;
}

aside{
    width: 22vw;
    height: 100vh;
}

aside #aside{
    width: 100%;
    height: 15vh;
    text-align: center;
}

aside #aside h2{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

aside #history-field{
    width: 100%;
    /* height: 85%; */
}

aside #history-field #list {
    display: block;
    width: 85%;
    height: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
}

aside #history-field #list::-webkit-scrollbar {
    width: 0.5vw;
    border-radius: 2vw;
    background-color: rgba(255, 255, 255, 0.671);
}

aside #history-field #list::-webkit-scrollbar-thumb {
    border-radius: 2vw;
   background-image: var(--gradient);
}

#history-field #list .history{
    text-align: right;
    margin-bottom: 20px;
    margin-right: 10px;
}